<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>Techla Blog</h1>
    <%- include('./partials/nav.ejs') %>
    <div>
        <section>
            <h2><%= blog.title %></h2>
        </section>
        <section>
            <p><%= blog.body %></p>
        </section>
        <section>
            <a href="/blogs" class="delete" >Back</a>
        </section>
    </div>
    <%- include('./partials/footer.ejs') %>
    
    <!-- "<script>
        data-doc="<>%= blog._id % <>"
        const deleteBlogg = document.querySelector('a.delete')

        deleteBlogg.addEventListener('click', (e)=>{
            const endpoint = `/blogs/${deleteBlogg.dataset.doc}`
            fetch(endpoint, {
                method: "DELETE"
            })
            .then((responsed)=> responsed.json())
            .then((data)=> window.location.href = data.redirect)
            .catch((err)=>{
                console.log(err);   
            })
            })
            
    </script> " -->
</body>
</html>